##ignore backup files
*~
*.bak
*.BAK

##do not include personal configuration files
/autoexec.cfg
/config_rpg.cfg
/init.cfg
/debug.txt

##do not include screens
# *.png -> Problem: ignore textures
*screenshot_* 
